*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body{
background-image:
url("../images/background.webp");
background-size:
cover;
background-position:
center;
background-attachment:
fixed;
background-repeat:
no-repeat;
color: #e5e5e5;
font-family: 'Vazirmatn' , sans-serif;
}
button, input, textarea{
font-family: inherit;
}
.header{
position: fixed;
top: 0;
right: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
direction: ltr;
padding: 22px 25px;
background: rgba(0,0,0,.55);
backdrop-filter: blur(10px);
z-index: 999;
}
.search-box{
flex:1;
position:relative;
margin:0 15px;
}
.search-box input{
width:100%;
height:42px;
border:none;
outline:none;
border-radius:30px;
padding:0 18px 0 45px;
font-size:15px;
background:rgba(255,255,255,.12);
color:#fff;
backdrop-filter:blur(8px);
}
.search-box input::placeholder{
color:rgba(255,255,255,.6);
}
.search-icon{
position:absolute;
left:15px;
top:50%;
transform:translateY(-50%);
color:rgba(255,255,255,.7);
font-size:16px;
pointer-events:none;
}
.menu-btn{
background: transparent;
border: none;
color: white;
font-size: 34px;
cursor: pointer;
position: relative;
z-index: 100000;
}
.side-menu{
position: fixed;
top: 0;
right: -320px;
width: 290px;
height: 100vh;
background: rgba(5,5,5,.78);
backdrop-filter: blur(30px);
-webkit-backdrop-filter:
blur(22px);
border-left:
1px solid rgba(255,255,255,.08);
padding: 100px 28px;
transition: .35s ease;
z-index: 99999;
}
.side-menu.show{
right: 0;
}
.close-menu{
position: absolute;
top: 30px;
left: 30px;
font-size: 30px;
cursor: pointer;
}
.side-nav{
display: flex;
flex-direction: column;
gap: 22px;
}
.side-nav a{
text-decoration: none;
color: #d9d9d9;
font-size: 20px;
transition: .3s;
}
.side-nav a:hover{
color: white;
}
.side-nav h3{
font-size: 22px;
margin-top: 15px;
color: white;
}
.products-toggle{
background: transparent;
border: none;
color: white;
font-size: 22px;
text-align: right;
cursor: pointer;
}
.products-menu.show{
display: flex;
flex-direction: column;
gap: 14px;
}
.products-toggle{
width: 100%;
background: transparent;
border: none;
outline: none;
box-shadow: none;
color: white;
font-size: 20px;
text-align: right;
cursor: pointer;
padding: 12px 0;
}
.products-toggle:focus,
.products-toggle:active{
outline: none;
background: transparent;
}
.products-menu{
display: none;
flex-direction: column;
gap: 14px;
padding-right: 18px;
margin-top: 10px;
}
.logo{
font-size: 34px;
font-weight: bold;
letter-spacing: 5px;
color: white;
}
.hero{
background-image: url("../images/hero.webp");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
position:relative;
width:100%;
justify-content:center;
height: 100vh;
display: flex;
align-items: center;
overflow:hidden;
}
.hero-overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.45);
}
.hero-content{
position:relative;
z-idex:2;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
padding:20px;
}
.hero-title{
color:white;
font-size:2.3rem;
margin-bottom:15px;
}
.hero-subtitle{
color:#ddd;
font-size:1.1rem;
margin-bottom:35px;
}
.hero-btn{
border:none;
border-radius:30px;
padding:14px 34px;
cursor:pointer;
font-size:16px;
}
.hero-content h1{
font-size: 110px;
margin-bottom: 15px;
text-shadow: 0 0 20px rgba(255,255,255,.08);
}
.hero-content p{
line-height: 1.9;
font-size: 22px;
color: #bbbbbb;
margin-bottom: 30px;
}
.story{
min-height:100vh;
padding:100px 25px;
display:flex;
flex-direction:column;
align-items:center;
}
.story-title{
font-size:2rem;
color:#fff;
margin-bottom:70px;
}
.timeline{
width:100%;
max-width:500px;
display:flex;
flex-direction:column;
align-items:center;
}
.product-section{
padding: 40px;
position: relative;
}
.product-section h2{
font-size: 42px;
margin-bottom: 50px;
}
.product-grid{
display: flex;
gap: 30px;
overflow-x: auto;
scroll-behavior: smooth;
padding-bottom: 15px;
-ms-overflow-style: none;
scrollbar-width: none;
}
.product-grid::-webkit-scrollbar{
display: none;
}
.product-card{
background: rgba(20,20,20,.85);
border: 1px solid rgba(255,255,255,.08);
border-radius: 24px;
overflow: hidden;
cursor: pointer;
transition: .35s;
backdrop-filter: blur(12px);
min-width: 280px;
flex-shrink: 0;
}
.product-card:hover{
transform: translateY(-8px);
border-color: rgba(255,255,255,.15);
}
.product-card img{
width: 100%;
aspect-ratio:1/1;
object-fit:contain;
border-radius:12px;
height: 320px;
}
.product-card h3{
padding: 20px;
font-size: 24px;
}
.available,
.limited,
.unavailable{
display: inline-block;
margin: 0 20px 20px;
padding: 8px 16px;
border-radius: 999px;
}
.available{
background: rgba(0,255,100,.12);
color: #63ff93;
}
.limited{
background: rgba(255,200,0,.12);
color: #ffd66b;
}
.unavailable{
background: rgba(255,0,0,.12);
color: #ff7575;
}
.modal{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,.8);
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
}
.modal-content{
width: 90%;
max-width: 700px;
max-height: 90vh;
overflow-y: auto;
background: #111;
border-radius: 24px;
padding: 30px;
position: relative;
}
.modal-content img{
width: 100%;
border-radius: 18px;
margin-bottom: 25px;
}
.close-modal{
position: absolute;
top: 15px;
left: 20px;
font-size: 35px;
cursor: pointer;
}
.footer{
text-align: center;
padding: 80px 20px;
border-top: 1px solid rgba(255,255,255,.08);
}
.nav{
gap: 18px;
}
.product-grid{
grid-template-columns: 1fr;
}
.product-section{
padding: 80px 25px;
}
}
.order-modal{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
justify-content: center;
align-items: center;
background: rgba(0,0,0,.85);
z-index: 99999;
}
.order-content{
width: 90%;
max-width: 420px;
background: #111;
border-radius: 24px;
padding: 35px;
text-align: center;
position: relative;
}
.social-links{
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 30px;
}
.social-links a{
text-decoration: none;
color: white;
border: 1px solid rgba(255,255,255,.08);
padding: 10px;
border-radius: 14px;
transition: .3s;
}
.social-links a:hover{
background: rgba(255,255,255,.08);
}
.close-order{
position: absolute;
top: 15px;
left: 20px;
cursor: pointer;
font-size: 28px;
}
.product-card{
position: relative;
}
.add-cart-btn{
background:#fff;
color:#000;
box-shadow:0 0 10px rgba(0,0,0,.3);
position: absolute;
bottom: 12px;
left: 12px;
width: 35px;
height: 35px;
border: none;
border-radius: 50%;
font-size: 22px;
cursor: pointer;
}
.cart-floating{
position: fixed;
bottom: 20px;
left: 20px;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background: rgba(0,0,0,0.85);
border: 1px solid rgba(255,255,255,.08);
backdrop-filter: blur(10px);
font-size: 28px;
cursor: pointer;
z-index: 999;
}
.cart-floating::before{
content:"";
position:absolute;
inset:0;
border-radius:50%;
border: 2px solid rgba(255,255,255,.08);
}
.cart-count{
position: absolute;
top: -5px;
right: -5px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
}
.about-modal{
display: none;
position: fixed;
background: black;
justify-content: center;
align-items: center;
z-index: 1000;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.about-content{
width: 90%;
max-width: 400px;
padding: 20px;
border-radius: 20px;
background: black;
}
.close-about{
cursor: pointer;
font-size: 24px;
float: left;
}
.video-modal{
display: none;
position: fixed;
inset: 0;
justify-content: center;
align-items: center;
background: rgba(0,0,0,.8);
z-index: 10000;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.video-content{
width: 100%;
max-width: 900px;
padding: 20px;
border-radius: 18px;
background: black;
max-height: 90vh;
overflow: auto;
}
.close-video{
cursor: pointer;
font-size: 24px;
float: left;
}

.cart-modal{
display: none;
position: fixed;
inset: 0;
background: rgba(0,0,0,.7);
justify-content: center;
align-items: center;
z-index: 1000;
}
.cart-content{
width: 90%;
max-width: 400px;
padding: 20px;
border-radius: 20px;
background: #111;
}
.close-cart{
cursor: pointer;
font-size: 24px;
float: left;
}
.cart-row{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0;
border-bottom: 1px solid #333;
}
.cart-controls{
display: flex;
align-items: center;
gap: 10px;
}
.cart-controls button{
width: 30px;
height: 30px;
border: none;
border-radius: 50%;
cursor: pointer;
font-size: 18px;
}
.products-menu::before{
content:"";
position:absolute;
top:-10px;
left:0;
width:100%;
height:10px;
background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
}
.scroll-left,
.scroll-right{
position: absolute;
top: 58%;
transform: translateY(-50%);
width: 50px;
height: 50px;
border: none;
border-radius: 50px;
background: rgba(0,0,0,.85);
color: white;
font-size: 22px;
cursor: pointer;
z-index: 10;
}
.scroll-left{
left: 5px;
}
.scroll-right{
right: 5px;
}
